ul {
  display: flex;
  justify-content: center;
}

li {
  margin: 20px;
  border: solid grey;
  list-style: none;
  width: 200px;
  height: 300px;
  text-align: center;
}

.icon {
    background: url("/images/0-sprite.png");
}